.box {
  display: flex;
  justify-content: row;
  margin: 10px;
}
.img {
  border-radius: 100%;
  width: 10%;
}
.box-title {
  padding-left: 5px;
  color: #000;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.box-text {
  color: #767676;
  font-family: Noto Sans KR;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.image-container {
  display: flex;
}

.rounded-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
}

.rounded-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.choice_button{
  width: 40px;
  height: 22px;
  border-radius: 10px;
  color: #000;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-right: 20px;
  border: none;
}
.cancel_Button{
  width: 40px;
  height: 22px;
  border-radius: 10px;
  border: 0.5px solid #00A9FF;
  background: #FFF;
  margin-top: 30px;
  margin-right: 20px;
  color: #00A9FF;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;  
}
.button_position{
  display: flex;
  justify-content: space-between;
}

.complete-button-location {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
}
.complete-button{
  position: fixed;
  width: 345px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #00A9FF;
  flex-shrink: 0;
  color: #FFF;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  margin-top: 230px;
}