body {
  margin: 0;
  padding: 0;
}

.header {
  width: 430px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.box {
  /* height: 932px; */
  background-color: #f5f5f5;
}

.header img {
  height: 85%;
  width: 100%;
  object-fit: cover;
}
.image-container {
  display: flex;
}

.rounded-image {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 5px;
}

.rounded-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.button {
  margin-top: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background: transparent; /* 투명 배경 */
  border: 1px solid #cacaca; /* 테두리 설정 */
  display: flex;
  align-items: center;
}
.plus_location {
  margin-top: 2px;
  margin-left: 1px;
}
.header-city {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif; /* 폰트 설정 추가 */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-140%, 40%);
  margin: 0; /* 기본 마진 제거 */
}
.header-dday {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif; /* 폰트 설정 추가 */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  left: 8.5%;
  top: 65%;
  margin: 0; /* 기본 마진 제거 */
}
.header-date {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100%;
  background-color: #00a9ff;
  padding: 1.5px; /* 원하는 여백 조절 */
  box-sizing: border-box;
  transform: translateY(-40%);
}
.header-date-p {
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: left; /* 텍스트를 오른쪽으로 정렬 */
  text-indent: 8%; /* 텍스트를 오른쪽으로 10px 들여쓰기 */
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.grayline {
  width: 100%;
  height: 5px;
  transform: translateY(300%);
  position: absolute;
  background-color: #f5f5f5;
}

.companion {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 10px;
}

.companion h1 {
  transform: translate(-43%, 0%);
  color: #000;
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.companion-text {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.companion-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reservation {
  margin-top: 10px;
  background-color: white;
  flex-direction: row;
  height: 130px;
  display: flex;
  padding-bottom: 10px;
}
.reservation h1 {
  transform: translate(43%, 0%);
  color: #000;
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.reservation-text {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.air_plane_icon {
  position: absolute;
  margin-top: 13%;
  margin-left: 30px;

  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px; /* 275% */
}

.bed_icon {
  position: absolute;
  margin-top: 13%;
  margin-left: 114px;

  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px; /* 275% */
}

.flag_icon {
  position: absolute;
  margin-top: 13%;
  margin-left: 197px;

  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px; /* 275% */
}

.planner {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 10px;
}
.planner h1 {
  transform: translate(-70%, 0%);
  color: #000;
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 0px;
}
.planner_img {
  margin-left: 5px;
  overflow-x: auto; /* 가로 스크롤바 숨김 */
  overflow-y: hidden; /* 세로 스크롤바 숨김 */
  width: 365px;
  height: 150px;
  flex-shrink: 0;
  display: flex;
}

.planner_img_container {
  margin-left: 10px;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  box-shadow: 8px 8px 8px 0px rgba(0, 169, 255, 0.08);
}

.planner_img_container img {
  width: 140px;
  height: 94px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
}

.planner_img_container_text {
  margin-top: 9px;
  margin-left: 5px;
  color: #767676;
  text-align: left;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.moreview {
  display: flex;
  flex-direction: row;
  margin-left: 80%;
}

.moreview p {
  color: #767676;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.moreview-arrow {
  margin-top: 2px;
}
